    header {
        height: 1.5rem;
        background-image: url(../../../assets/image/36_white_8k.jpg);
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;
        color:#fff;
    }